@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');


#root {
  height: 100vh;
  font-family: 'Inter';
  color: var(--black)
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  
}

nav img {
  width: 6rem;
}

nav button {
  border-radius: 10px;
  padding: .5rem .8rem;
  color: var(--white);
  background: var(--green);
  outline: none;
  border: none;
  font-weight: 600;
}

.hero-section {
  background: var(--bg);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero, .hero2 {
  display: grid;
  place-items: center;
  margin-top:  3rem;
  width: 90%;
  text-align: center;
}

.hero h2, .hero2 h3, .join-us h3 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: .5rem;
  color: var(--black);
}

.hero p, .hero2 p {
  width: 60%;
  text-wrap: balance;
  color: var(--black);
  font-size: .9rem;
  margin-bottom: 4rem;
  
}

.hero2 h3 {
  font-size: 1.5rem;
}


form {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  width: 100%;
  
  
  
}

input {
  height: 2rem;
  width: 50%;
  outline: none;
  border: 1px solid var(--green);
  border-radius: 10px 0 0 10px;
  padding-inline: 1.2rem;
  padding-block: 1rem;
}

form button {
  border-radius: 0 10px 10px 0;
  padding: .5rem .9rem;
  height: auto;
  color: var(--white);
  background: var(--green);
  outline: none;
  border: none;
  font-weight: 600;
}

.hero img {
  max-width: 90%;
  margin-bottom: 7rem;
}

.cards {
  display: flex;
  width: 95%;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .2rem;
  background: var(--white);
  width: 32%;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card-txt {
  width: 95%;
  min-height: 9rem;
  margin-top: 1rem;
  border-top: 1px solid var(--black);
  border-style: dashed none none none;

}

.card h4 {
  text-align: left;
  margin-block: .6rem;
}

.card p {
  text-align: left;
  font-size: .75rem;
  width: 100%;
  margin-bottom: 1rem;
}

.section2 {
  display: grid;
  place-items: center;
  background: url('/bg-logo.svg') var(--white);
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  background: rgba(255, 255, 255, .95);
  height: inherit;
  display: flex;
  width: 100%;
  gap: 2rem;
  padding-inline: 2rem;
  justify-content: space-around;
  
}

.content {
  width: 50%;
  margin-top: 15rem;
  margin-bottom: 13rem;
}

.content h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: .5rem;
}

.content p {
  font-size: .8rem;
  margin-bottom: 1rem;
}

.content > div {
  background: #E8FBEC;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.content > div span {
  display: flex;
  gap: .8rem;
  align-items: center;
  margin-bottom: .5rem;
}

.section2 .img {
  width: 50%;
  margin-top: 4rem;
}

.img img {
  width: 100%;
}

.img2 {
  display: none;
}

.join-us {
  display: grid;
  position: relative;
  place-items: center;
  background: rgba(255, 255, 255, .95);
  width: 100%;
}

.join-us p {
  font-size: .9rem;
  
}

.join-us .p {
  margin-bottom: 3rem;
}

.design, .design2  {
  position: absolute;
  display: block;
  width: 12rem;
  right: 0rem;
  top: -2rem;
}

.design img, .design2 img {
  width: 100%;
}

.design2 {
  left: 0;
  height: 6rem;
  top: 12rem;
}

footer {
  margin-top: 4rem;
  background: var(--bg);
  display: grid;
  place-items: center;
}

.top {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

footer h3 {
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

footer p {
  font-size: .8rem;
}

.fp {
  margin-bottom: 2rem;
}

footer ul {
  display: flex;
  gap: .1rem;
  flex-direction: column;
}

footer li {
  display: flex;
  align-items: center;
  font-size: .8rem;
  gap: 1rem;
}







@media (max-width: 800px) {
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .card {
    width: 80%;
  }

  .card p {
    margin-bottom: 0;
  }

  .img {
    display: none;
  }

  .img2 {
    width: 100%;
    background: transparent !important;
    display: block;
  }

  .img2 img {
    width: 100%;
  }

  .content {
    width: 98%;
    margin-top: 2rem; 
  }

  .join-us h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  form {
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 90%;
    margin-bottom: 1rem;
    border-radius: 10px;
  }


  form button {
    width: 90%;
    border-radius: 10px;
  }

  .top {
    flex-direction: column;
    gap: 1rem;
  }

}